# gitignore sacado de la pagina oficial de github :0
# Fuente: https://raw.githubusercontent.com/github/gitignore/main/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache
.vscode

# No se por que corno cmkae genera archivos de dart. No estamos usando dart.
# Pero que demonios
DartConfiguration.tcl

# Archivos de tiburoncin
AtoB.dump
BtoA.dump

# Ignoro los binarios producidos
build*/server
build*/client
build*/test*
